/* Body default styles */
*{
    margin: 0;
    padding:0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
button{
    width: 100px;
    height:50px;
    border-radius:10%;
    background-color : rgb(245, 92, 92);
    font-size: 20px;
    font-weight: 500;
    margin:20px;
}
#container{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 200px auto;
}
#results{
    height:80px;
    font-size:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:60px 20px;
    font-weight: 400;
    color:brown;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

